.workspace {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.workspace-toolbar {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #e0e0e0;
  background: #fafafa;
  justify-content: space-between;
}

.workspace-content {
  flex: 1;
  overflow: auto;
}

.project-select select {
  height: 32px;
  padding: 0 8px;
  max-width: 250px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: white;
  min-width: 150px;
  cursor: pointer;
}

.project-select-empty select {
  margin-left: 3px;
  width: 175px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  color: #777;
}

.project-select-empty select option {
  font-size: 14px;
  color: #777;
  background-color: rgba(0, 0, 0, 0);
}

.workspace-empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 14px;
  text-align: center;
}