<div class="workspace">

  <div class="workspace-toolbar">
    <!-- pode ser dinâmico depois -->
    <span class="section-title">Gestão de Dados</span>

    <div class="project-select">
      <select  [value]="selectedId() || ''" (change)="onProjectChange($event)">
        <option value="">Selecione um projeto</option>
        @for (p of projects(); track p) {
        <option [value]="p.id" [selected]="p.id === selectedId()">
          {{ p.nome }}
        </option>
        }

      </select>
    </div>
  </div>

  <div class="workspace-content">
    @if (!selectedProject()) {
    <div class="workspace-empty">
      Para visualizar os elementos do workspace, selecione um projeto.
    </div>
    } @else {
    <router-outlet />
    }
  </div>

</div>