<div class="workspace">

  <div class="workspace-toolbar">
    <!-- pode ser dinâmico depois -->

    <!-- <span class="section-title">Gestão de Dados</span> -->

    <div class="project-select ms-auto">
      <select [value]="selectedId() || ''" (change)="onProjectChange($event)">
        <option value="">Selecione um projeto</option>
        @for (p of projects(); track p) {
        <option [value]="p.id" [selected]="p.id === selectedId()">
          {{ p.nome }}
        </option>
        }

      </select>
    </div>
  </div>

  <div class="workspace-content">
    @if (!selectedProject() && !isProject) {
    <div class="workspace-empty">
      <span>Para visualizar os elementos do workspace,</span>
      <div class="project-select-empty">
        <select [value]="selectedId() || ''" (change)="onProjectChange($event)">
          <option value="">Selecione um projeto</option>
          @for (p of projects(); track p) {
          <option [value]="p.id" [selected]="p.id === selectedId()">
            {{ p.nome }}
          </option>
          }

        </select>
      </div>
    </div>
    } @else {
    <router-outlet />
    }
  </div>

</div>