.overlay-map {
    position: absolute;
    z-index: 1;
}



.toggle-container {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 50px;
    padding: 5px;
    width: 160px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    user-select: none;
    transition: background 0.3s ease;
}


/* Texto */
.toggle-container .option {
    flex: 1;
    text-align: center;
    z-index: 2;
    color: #333;
}

/* Alavanca */
.toggle-container .slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(50% - 6px);
    height: calc(100% - 6px);
    background: #414141;
    border-radius: 50px;
    transition: transform 0.3s ease;
    z-index: 1;
}

/* Quando ativo (lado direito) */
.toggle-container.active .slider {
    transform: translateX(100%);
    background: #b6b6b6;
}

.toggle-container.active .option:last-child {
    color: #fff;
}

/* Texto destacado quando selecionado */
.toggle-container:not(.active) .option:first-child {
    color: #fff;
}


.qr-code-button {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 15px;
}

.logo-map {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    right: 15px;
    width: 6em;
}