<mat-drawer-container [hasBackdrop]="false" class="content">

    <mat-drawer #drawer [mode]="isMobile() ? 'over' : 'side'" [opened]="expandableSidebarOpened()"
        (openedChange)="expandableSidebarOpened.set($event)">
        <app-sidebar-expandable-component></app-sidebar-expandable-component>
    </mat-drawer>

    <mat-drawer-content>

        <!-- @if (mapMode()) {

        <app-map-component></app-map-component>
        
        }
        @else {
        <app-workspace-component></app-workspace-component>
        } -->

        <router-outlet></router-outlet>


    </mat-drawer-content>

</mat-drawer-container>