.content {
    height: 100%;
}

.qr-code-button {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 15px;
}

.logo-map {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    right: 15px;
    width: 6em;
}

mat-drawer {
    border-radius: 0px;
}