.title {
    /* margin: -24px -24px 0px -24px !important;
    padding: 10px 24px; */
    background: #369;
    color: #fff;
    text-align: center;
    box-shadow: 0 3px 4px #00000033;
    font-size: 1.1em;    
    line-height: normal;
    z-index: 1;
  }

  .btn-edit {
    padding: 0.1em;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 4px;
}

    .btn-edit:hover {
        background-color: #e6e6e6;
    }