<div (click)="toTop()">
    <!-- TOPBAR -->
    <div class="d-flex justify-content-center align-items-center p-0 modal-header modal-header-focus w-100"
        cdkDragHandle cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".content" [cdkDragDisabled]="mapService.isMobile()">
        <span class="mx-4 modal-title">{{dataObj.data.layerName}}</span>

        <button type="button" class="btn modal-close-button" (click)="close()">
            <i class="material-icons modal-close-icon">
                close
            </i>
        </button>
    </div>

    <!-- Skeleton loading -->
    @if (isLoading) {
    <div class="p-2" style="width: 300px;">

        <div class="d-flex mb-3">
            <div class="skeleton skeleton-icon"></div>
            <div class="skeleton skeleton-icon"></div>
        </div>

        <!-- <div *ngFor="let i of [].constructor(3)" class="d-flex mb-3">
            <div class="skeleton skeleton-key"></div>
            <div class="skeleton skeleton-value"></div>
        </div> -->

    </div>
    } @else {

    <!-- BUTTONS SPACE -->
    @if (dataObj.typeOfDialog == 'info') {
    <div class="d-flex align-items-center justify-content-start p-2" cdkDragHandle cdkDrag [cdkDragDisabled]="mapService.isMobile()"
        cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary=".app-boundary">
        <button class="btn btn-outline-light btn-edit d-flex mx-1" (click)="setExtend()"
            matTooltip="Aproximar para feição" matTooltipPosition="below">
            <i class="material-icons-outlined notranslate" style="font-size: 20px;width: 20px; color: rgb(61, 61, 61);">
                fullscreen
            </i></button>

        <div class="m-auto"></div>

    </div>
    }


    <!-- CONTENT CONTAINER -->
    <div class="p-3" [class.box-resizeble]="!mapService.isMobile()" [class.box-heigth-limit]="!mapService.isMobile()" [class.box-width-limit]="!mapService.isMobile()">
        <!-- ATTRIBUTES CONTAINER -->
        @if (formatedKeys && showAttributes) {
        <div id="attributes-container" style="line-height: 1.5em;">

            <!-- [INFO MODE] -->
            <!-- ----------- -->
            @if (dataObj.typeOfDialog == 'info') {

            @for (key of keys; track key) {
            <span class="me-1" style="font-weight: 500;">{{formatedKeys[key]}}:</span>
            <span>{{mainData[key]}}</span>
            }


            }


            <!-- [EDIT MODE] -->
            <!-- ----------- -->
            <!-- <ng-container *ngIf="dataObj.typeOfDialog == 'edit'">
                    <div *ngFor="let key of keys">
                    <span class="me-1" style="font-weight: 500;">{{formatedKeys[key]}}: ...</span>
                    </div>
                    </ng-container> -->

            <!-- [SEARCH OR FILTER MODE] -->
            <!-- ----------------------- -->
            <!-- <ng-container *ngIf="dataObj.typeOfDialog == 'search' || dataObj.typeOfDialog == 'filter'">

                    <form [formGroup]="profileForm" *ngIf="profileForm" class="w-100" (ngSubmit)="onSubmit()">
                        <div *ngFor="let item of profileForm.controls| keyvalue: unsorted; let n=index"
                        class="d-flex align-items-center my-1"> -->
            <!-- ROTULO DO CAMPO -->
            <!-- <span style="text-wrap: nowrap;" class="mx-1">{{this.formatedKeys[item.key]}}</span> -->

            <!-- COMPONENTE "AUX TYPE AHEAD" -->
            <!-- <app-aux-type-ahead [id]="item.key" class="mx-1 w-100 d-flex row" [attribute]="item.key"
                            [layerSource]="layerSource" [type]="getType(item.key, 'translated')" [isRange]="isRange(item.key)"
                            [value]="getControlValue(item.key, 'value')" [ismap]="isMap(item.key)"
                            (sendValue)="setValue(item.key, $event)"></app-aux-type-ahead> -->

            <!-- SELETOR DO PREDICADO DE BUSCA -->
            <!-- <select [formControl]="getControl(item.key, 'mode')" [id]="'select-'+item.key"
                            class="form-select form-select-sm mx-1" aria-label=".form-select-sm example"
                            style="max-height: 2em; max-width: max-content;">
                            <option value="0" selected>Excluir campo</option>
                            <option *ngFor="let option of typeMapper[getType(item.key, 'raw')].options" [value]="option.value">
                            {{option.text}}</option>
                        </select>
                        </div>

                        <div class="p-2 d-flex justify-content-end">
                        <button *ngIf="dataObj.typeOfDialog == 'filter'" type="button" (click)="clearFilter()"
                            class="btn btn-warning btn-sm mx-1">Limpar filtros</button>

                        <div aria-live="polite" toastContainer style="line-height: normal;"></div>

                        <button [disabled]="!isSearchable()" type="submit" class="btn btn-success btn-sm mx-1">

                            <ng-container *ngIf="searchIsLoading; else bucarTitle">
                            <div class="d-flex justify-content-center ">
                                <div class="spinner-border text-light spinner-border-sm" role="status">
                                </div>
                            </div>
                            </ng-container>

                            <ng-template #bucarTitle>
                            <span>{{dataObj.typeOfDialog == 'search' ? 'Buscar' : 'Filtrar'}}</span>
                            </ng-template>

                        </button>
                        </div>
                    </form>
                </ng-container> -->
        </div>
        }



        <!-- CUSTOM INTERNAL CONTENT -->
        <div>
            <ng-content></ng-content>
        </div>
    </div>
    }



</div>