.sidenav {
    height: 100%;
    background: white;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;

    &.computer {
        width: 64px;
    }

    &.mobile {
        width: 100%;
    }


    .button {
        width: 100%;
        height: 3.5em;
        display: flex;
        align-items: center;
        border: 0;
        background: transparent;
        border-left: transparent solid 3px;



        &.mobile {
            padding-left: 1em;
        }

        &.computer {
            justify-content: center;
        }




        &.active {
            border-left: #43b408 solid 3px;
            background: #f6fff8;
        }
    }

    .span {
        margin-left: 1em;
    }
}