.sidenav-container {
  background-color: #f5f5f5;
  transition: all 0.3s ease;
  height: 100vh;
}

.sidenav {
  
}

.sidenav.computer {
  max-width: 64px;
  border-radius: 0;
  border-right-width: 0px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.topbar {
  display: block;
  margin-bottom: 4px;
}

.mode-container {
  display: block;
  height: 100%;
}