<div class="page">

  <!-- Header -->
  <div class="page-header">
    <button mat-button class="back-btn" (click)="voltar()">
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>

    <div class="title">
      <h1>Armadilha {{ armadilha()?.nome || ''}}</h1>
      <span class="subtitle">
        {{ armadilha()?.regiao }} · {{ armadilha()?.referencia }}
      </span>
    </div>
  </div>

  <!-- Meta -->
  <section class="meta">
    <div>
      <strong>Latitude:</strong> {{ armadilha()?.lat }}
    </div>
    <div>
      <strong>Longitude:</strong> {{ armadilha()?.lon }}
    </div>
    <div>
      <strong>Criada em:</strong> {{ armadilha()?.createdAt }}
    </div>


    <div class="d-flex align-content-center">

      @if (this.permissionService.has('armadilha-carrapato.update')) {
      <button mat-flat-button color="primary" class="edit-btn" [routerLink]="['edit']">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
      }
      @if (this.permissionService.has('armadilha-carrapato.delete')) {
      <button class="btn btn-outline-danger d-flex" style="border-radius: 2em;" (click)="delete()">
        <mat-icon>delete</mat-icon>
        Excluir
      </button>
      }
    </div>

  </section>

  <!-- Visual section -->
  <section class="visual-grid">

    <!-- Mapa -->
    <div id="map-armadilha-detail" class="map-container"></div>

    <!-- Foto -->
    <div class="photo-container">
      <div class="placeholder">
        <mat-icon>photo_camera</mat-icon>
        <div class="placeholder-title">Foto da armadilha</div>
        <div class="placeholder-subtitle">
          Registro visual da instalação
        </div>
      </div>
    </div>

  </section>

  <!-- Gráfico -->
  <section class="chart-section">
    <h2>Capturas</h2>


    <div class="chart-wrapper">
      <canvas baseChart class="chart-md" [data]="chartData()" [options]="chartOptions()" [type]="chartType"
        (chartClick)="onChartClick($event)">
      </canvas>
    </div>
  </section>


</div>