@if (!isMobile()) {
<div class="topbar"></div>
} @else {
<div class="w-100 position-relative">
    <button class="btn d-flex position-absolute p-0 m-1" style="top: 0.1em; right: 0.1em;" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
}

<div class="content p-4">

  @if (activeMenuItem()?.component) {
    <ng-container *ngComponentOutlet="activeMenuItem()?.component;  inputs: {servicosListaExpansivel: servicoExpansivel()}"></ng-container>
  } @else {
    <div class="empty">
      Selecione uma opção
    </div>
  }

</div>